@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Iceberg', 'Frijole', monospace;
  text-transform: uppercase;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(45deg, rgb(56, 164, 226), rgb(19, 63, 88));
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  height: 100vh;
  width: 100vw;
  color: rgb(190, 213, 233);
}
.main-wrapper {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
  background-size: 75px;
  background-repeat: repeat;
}
.header__headings {
  font-size: 8vmin;
}
.score {
  width: 80vmin;
  display: flex;
  justify-content: space-between;
}
.score__info {
  font-size: 4vmin;
}
.board {
  --rows: 10;
  --columns: 10;
  height: 80vmin;
  width: 80vmin;
  display: grid;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--columns), 1fr);
  background-color: rgb(190, 213, 233);
  border-radius: 3px;
}

.snake {
  background-color: rgb(38, 96, 129);
  border: 2px solid rgb(148, 211, 200);
}
.apple {
  background: rgb(206, 69, 45);
  border-radius: 50%;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background: rgba(19, 63, 88, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}

.options {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40vmin;
  width: 40vmin;
  background: linear-gradient(45deg, rgb(56, 164, 226), rgb(19, 63, 88));
  opacity: 0.8;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: 1rem;
  color: rgb(19, 63, 88);
  cursor: pointer;
  font-family: inherit;
  font-size: 2rem;
  border: none;
  padding: 0.5rem 2rem;
  transition: all 0.5s;
}
.btn:hover {
  border: 5px solid rgb(190, 213, 233);
  color: rgb(190, 213, 233);
  background: linear-gradient(45deg, rgb(56, 164, 226), rgb(19, 63, 88));
}
